@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

.App {
  background-color: pink;
  font-family: "Mate SC", serif;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}