.GameContainer {
  .main {
    border: 2px ridge $color-tan;
    background-color: rgba(247, 251, 255, 0.626);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: $font-size-xlarge;
      color: white;
      background-color: $color-highlight;
      text-align: center;
      padding: $space-large;
    }
  }
}
