.GameContainer {
  background-image: url(../../images/background/witch-academy.jpg);
  background-size: cover;
  background-position: center;

  .GameOptions {
    display: flex;
    align-items: center;
    .optionButton {
      position: relative;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 2px solid white;
    }
    a {
      border: none;
    }
  }

  .main {
    background-color: rgba(0,0,0, 0.626);
    // background-color: rgba(247, 251, 255, 0.626);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: $font-size-xlarge;
      color: white;
      background-color: $color-highlight;
      text-align: center;
      padding: $space-large;
    }
  }
}
