.itemContainer {
  display: flex;
  position: relative;
  width: 5em;
  height: 5em;
  margin: 0.5em;

  .itemCard {
    position: relative;
    top: 4.2em;
    border: 2px ridge rgb(255, 255, 255);
    background-color: rgb(188, 182, 175);
    max-height: 2em;
    p {
      width: 100%;
      text-align: center;
    }
  }

  .disabled {
    filter: grayscale(100%);
  }

  img {
    margin: 0 auto;
    height: 4.5em;
    width: 4.5em;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 100%;
  }
}

.hidden {
  display: none;
}
