.itemContainer {
  border-radius: 100%;
  border: 1px solid rgb(196, 167, 167);
  position: relative;
  width: 7em;
  height: 7em;
  margin: 0.5em;

  p {
    width: 100%;
    text-align: center;
  }

  img {
    margin: 0 auto;
    height: 4.5em;
    width: 4.5em;
  }
}

.hidden {
  display: none;
}
