.musicContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2rem;
    right: 3rem;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid black;

    img {
        width: 30px;
    }
}
