.Npc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .imageContainer {
    display: flex;
    justify-content: center;

    img {
      height: 50vh;
      width: auto;
    }
  }

  .name {
    background: rosybrown;
    font-size: $font-size-xlarge;
    padding: $space-medium;
  }

  .dialogue-box {
    border: 1px solid white;
    padding: $space-medium;
    margin: $space-medium;
    height: 20rem;
    line-height: 2.5rem;
    background: antiquewhite;
    color: $color-black;
    display: flex;
    align-items: center;
    overflow-y: auto;
  }

  .footer {
    background: rosybrown;
    font-size: $font-size-tiny;
    padding: $space-small;
    display: flex;
    justify-content: center;
  }
}
