.WorkbenchContainer {
  min-width: 100%;
  overflow: hidden;

  .CombinerContainer {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .WorkbenchContainer--Top {
    height: 50%;
    border: 1px solid $color-black;

    .WorkbenchNav {
      margin: 0.5em;
      text-align: center;
    }
  }

  .WorkbenchContainer--Bottom {
    text-align: center;
    height: 50%;
    // border: 1px solid $color-black;
    
    .brewButton {
      display: block;
      border: none;
      color: white;
      background-color: transparent;
      font: 10rem $display-cursive;
      margin: 0 auto;
      transition: all 0.1s ease-in;
      opacity: 50%;

      &.active:hover {
        transform: scale(1.1);
        opacity: 100%;
        cursor: pointer;
      }
    }

    .clearButton {
      margin: 2rem;
      opacity: 50%;
      color: white;
      border: none;
      background-color: transparent;
      font: 3rem $body-typewriter;
      transition: all 0.1s ease-in;

      &.active:hover {
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}
